* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--very-dark-blue-main-bg, #0d192c);
}

.cont {
  width: 350px;
  height: 596px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--very-dark-blue-card-bg, #15263f);
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  margin-top: 15%;
  padding-left: 24px;
}

#foto1 {
  width: 302px;
  height: 302px;
  flex-shrink: 0;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  display: flex;
  padding-top: 5%;
  z-index: 1;
}

.numb {
  width: 302px;
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  gap: 25px;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 7%;
}

.calm {
  width: 302px;
  color: var(--Soft-Blue, #8bacd9);
  font-feature-settings: "liga" off, "clig" off;
  margin-top: 7%;

  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}

.svg1 {
  width: 21px;
  height: 28px;
  fill: var(--Cyan, #00fff8);
  margin-top: 10%;
}

.p2 {
  color: var(--Cyan, #00fff8);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  margin-right: 100px;
  margin-left: 16px;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10%;
}

.svg2 {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  margin-left: -20%;
  margin-top: 10%;
}

.bottomdiv {
  display: flex;
  justify-content: start;
  align-items: center;
}

.p3 {
  color: var(--Soft-Blue, #8bacd9);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10%;
  margin-left: 3%;
}

.obj {
  width: 302px;
  height: 1px;
  color: white;
  background: var(--very-dark-blue-line, #2e405a);
  margin-left: 2%;
  margin-top: 8%;
}

#oval1 {
  margin-top: 5%;
}

.last {
  display: flex;
  text-align: center;
}

.p4 {
  color: var(--Soft-Blue, #8bacd9);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -10%;
  margin-left: 15%;
}

.name {
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -10%;
  margin-left: 5%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: aqua;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 0.503;
}
